#header {
  color: $color-black;
  background-color: $color-white;
  height: auto;
  font-family: $font-mont;

  ul {
    height: 5rem;
    align-items: center;
    margin-left: 5rem;
    width: 40%;
    justify-content: space-between;
  }

  h1 {
    color: $color-azure;
    font-weight: bold;
  }

  h5 {
    font-weight: lighter;
  }
}
