.book-form {
  flex-direction: column;
  height: 5rem;
  border-top: 1px $color-grey solid;

  h3 {
    align-items: center;
    color: $color-grey;
  }

  .inputs {
    align-self: flex-end;
    height: auto;
    justify-content: space-between;
  }

  input {
    padding: 0.5rem;
  }

  .title-input {
    width: 60%;
  }

  .category-input {
    width: 20rem;
    margin: 0 1rem;
  }

  button {
    padding: 0 2rem;
  }
}
