@import 'react-circular-progressbar/dist/styles.css';

.book-widget {
  height: auto;
  padding: 1rem;
  margin: 1rem 0;
  background-color: $color-white;
  border: 1px $color-lightgrey solid;
  justify-content: space-between;
  font-family: $font-roboto;

  .circle-container {
    width: 3rem;
    padding: 1rem;
  }

  .info-col,
  ul,
  .percent-col,
  .chapter-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
  }

  .info-col {
    width: 33%;
  }

  .book-category {
    font-family: $font-mont;
    color: $color-grey;
    font-weight: bolder;
  }

  .book-percent {
    font-weight: lighter;
    font-size: 2rem;
  }

  .percent-info {
    justify-content: center;
  }

  h6 {
    color: $color-grey;
    font-weight: lighter;
  }

  .handle {
    color: $color-lightblue;
    flex-direction: row;
    justify-content: flex-start;

    .book-remove {
      padding: 0 2rem;
    }
  }

  .percent-col {
    flex-direction: row;
  }

  .chapter-col {
    padding-left: 4rem;
    border-left: 1px solid $color-lightgrey;
  }

  .book-chapter {
    color: grey;
  }
}
